body {
    background-color: palegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    color: blue;
    background-color: brown;
}

ol {
    color: black;
    background-color: gold;
}

h2 {
    font-family: fantasy;
    color: white;
    font-size: 50px;
    font-style: initial;
    font-weight: lighter;
}